@font-face {
  font-family: "Virgil";
  src: url("../assets/fonts/Virgil.woff2") format("woff2");
  font-weight: normal;
  font-style: normal
}

.font-virgil{
  font-family: "Virgil", cursive;
}

@import "tailwindcss";